/*COLORS*/

:root {
    /*PRIMARY COLORS*/
    --Bright_orange: hsl(31, 77%, 52%);
    --Dark_cyan: hsl(184, 100%, 22%);
    --Very_dark_cyan: hsl(179, 100%, 13%);
    /*NEUTRAL COLORS*/
    --Transparent_white_paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very_light_gray: hsl(0, 0%, 95%);
}

/*GLOBAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--Very_light_gray);
}

/*SECTION COLORS*/

.section.one {
    background-color:  var(--Bright_orange);
}

.section.two {
    background-color: var(--Dark_cyan);
}

.section.three {
    background-color: var(--Very_dark_cyan);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/*ICON*/

.section img {
    width: 23%;
    height: auto;
}

/*HEADER*/

h2 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2.3em;
    color: var(--Very_light_gray);
}

/*PARAGRAPH*/

.section p,
.section button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: .9375em;
    line-height: 1.8em;
}

.section p {
    color: var(--Transparent_white_paragraphs);
}

/*BUTTON*/

.section button {
    background-color: var(--Very_light_gray);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

/*BUTTON COLORS*/

.section.one button {
    color: var(--Bright_orange);
}

.section.two button {
    color: var(--Dark_cyan);
}

.section.three button {
    color: var(--Very_dark_cyan);
}

/*MOBILE*/

@media screen and (max-width: 500px) {
    main {
        width: 90%;
        margin:40px 0px;
        border-radius: 10px;
        overflow: hidden;
    }

    .section {
        padding: 50px;
    }

    .section button {
        width: 55%;
    }

}
    
/*DESKTOP*/

@media screen and (min-width: 500px) {
    main {
        display: flex;
        height: auto;
        width: 80%;
        border-radius: 10px;
        overflow: hidden;
    }

    .section {
        padding: 60px;
    }

    .section button {
        width: 80%;
    }



   
    
}    